body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

header{
    display: flex;
    background-color:#001524;
}

ul{
    display: flex;
    justify-content: start;
    list-style-type: none;
}

.logo{
    
    color: #FFECD1;
    font-size: 20px;
    font-weight: 700;
   padding-top: 20px;
   padding-bottom: 20px;
}

.location{
 width: 20px;
 height: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
 margin-left: 10px;
}
.align-right{

    width:20px;
    height: 20px;
    /* margin: auto 0 auto auto; */
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;;;
}

button {
    /* display: inline-block; */
    margin-left: auto;
    background-color: #15616D;
    color: #FFECD1;
    border: none;
    padding: 20px;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
    
}

button:active {

    transform: translateX(-4px);
  }

.container {
    display: flex;
    /* justify-content: space-around; */
}






.img-item {
display: flex;
} 


