body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
}

/* Typography */

h1 {
    padding-left: 10px;
    font-size: 20px;
    color: #001524;
    font-weight: 400;
}

p {
    padding: 10px;
}

header {
    background-color: #001524;
}

/* Header Elements */

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 25px;
    gap: 10px;

}

.logo {
    color: #FFECD1;
    font-size: 20px;
    font-weight: 700;
}

.icon {
    width: 25px;
    cursor: pointer;
}

.align-right {
    width: 30px;
    margin-left: auto;
    cursor: pointer;
}

.icon:active,
.align-right:active {
    transform: translateY(4px);
}

/* Section elements */

img {
    width: 100%;
}

.img-item {
    display: flex;
}

#section-1 {
    position: relative;
}

.banner {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #FF7D00;
    color: whitesmoke;
    font-weight: 400;
    font-size: 20px;
}

button {
    margin-left: auto;
    background-color: #d62828;
    color: #FFECD1;
    border: none;
    padding: 20px;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
}

button:active {
    background-color: #FF7D00;
    transform: translateX(-4px);
}

button:hover {

    background-color: #FF7D00;
    color: beige;
}

/* Fixed elements  */

.chatbox {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: #FF7D00;
    border-radius: 50%;
    display: flex;
    padding-bottom: 20px;
    padding-right: 20px;

    bottom: 2px;
    right: 2px;
}

.chatbox-img {
    width: 20px;
    margin: auto;
    padding: 15px;
}

.chatbox:hover {
    cursor: pointer;
    background-color: #C3894C;
}

.chatbox:active {
    transform: translateY(4px);
}

.scrollUp {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: #FF7D00;
    border-radius: 50%;
    display: flex;
    padding-bottom: 20px;
    padding-right: 20px;
    bottom: 2px;
    right: 200px;
    cursor: pointer;
}

.scrollUp-img {
    width: 50px;
    margin: auto;
}

.scrollUp:active {
    transform: translateY(4px);
}